<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForm.Properties.Settings.PracticoObligatorioConnectionString"
            connectionString="Data Source=LAPTOP-D2PV5QUR\SQLEXPRESS;Initial Catalog=PracticoObligatorio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PracticoEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-D2PV5QUR\SQLEXPRESS;initial catalog=PracticoObligatorio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>